.body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
 
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url('../../public/fundoTelaLogin.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  text-align: center;
  box-sizing: border-box;

  h1 {
      font-size: 3em;
      color: #333;
      margin-bottom: 0.5em;
  }

  h2 {
      font-size: 2em;
      color: #666;
  }
  h4{
      margin-bottom: 20px;
      font-size: 24px;
  }



}

.logo {
  width: 130px;
  height: 130px;
}


.block {
  background-color: white;
  padding: 10px 40px 40px 40px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.input {
  width: 300px;
  height: 20px;
  padding: 0.8em;
  margin: 0.5em 0;
  border: 1px solid #8e8e8e;
  border-radius: 3px;
  margin-bottom: 15px;
}

.button {
  width: 320px;
  height: 45px;
  padding: 0.8em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;

}

.button:hover {
  background-color: #0056b3;
}

.link {
  font-size: 14px;
  margin-left: 190px;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}